<div class="navbar bg-app-primary text-white">
	<h4 class = "m-0 p-0 text-center">
		<SectionOutlet SectionName="pageTitle"/>
	</h4>
	<div class="toolbar-items d-flex align-items-center gap-3">
		<SectionOutlet SectionName="toolbarItems" />
	</div>
</div>

@code {
	

}


