.tabbar {
    height: var(--tabbar-height);
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    box-shadow: 0 0px 2px gray;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
}

.tabbar-item {
    justify-content: centered;
    align-items: center;
}

.title {
    font-size: 14px;
}
